<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop
 	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	default-autowire="byName">

	<!-- 连接traffic数据库数据源配置 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:3306/learning?useUnicode=true&amp;characterEncoding=UTF-8" />
		<property name="user" value="learning" />
		<property name="password" value="learning" />
		<property name="acquireIncrement" value="2" />
		<property name="initialPoolSize" value="10" />
		<property name="minPoolSize" value="5" />
		<property name="maxPoolSize" value="30" />
		<property name="idleConnectionTestPeriod" value="1800" />
		<property name="preferredTestQuery" value="select 1" />
		<property name="acquireRetryAttempts" value="10" />
		<property name="acquireRetryDelay" value="300" />
		<property name="checkoutTimeout" value="3000" />
		<property name="maxIdleTime" value="600" />
		<property name="maxStatementsPerConnection" value="500" />
		<property name="numHelperThreads" value="5" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="typeAliasesPackage"
			value="com.marsyoung.learning.web.ssb.entity" />
		<property name="configLocation" value="classpath:mybatis.xml" />
	</bean>

	<!-- 将basePackage中配置的包路径下的 dao接口生成代理，替代我们原来的 dao实现 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.marsyoung.learning.web.ssb.mapper" />
	</bean>
	
	<!-- aop配置,一句话,其它通过annotation -->
	<aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>
	<!-- 通过注解加载action和spring-->
	<context:component-scan base-package="com.marsyoung"></context:component-scan>
	
</beans>