<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">  
  
    <import resource="classpath:spring/spring-redis.xml"/>
    <import resource="classpath:spring/spring-annotation.xml"/>
    <import resource="classpath:spring/spring-db.xml"/>

    <context:property-placeholder location="classpath*:redis.properties,classpath*:db.properties,classpath*:redis.properties" />

</beans>  